fmw/build/gcc/stm32f051/obj/*
fmw/build/gcc/stm32f051/bin/*
fmw/build/gcc/stm32f103/obj/*
fmw/build/gcc/stm32f103/bin/*
ord/*
*~
doc/datasheet/*
doc/examination/*
doc/order/*
fmw/GPATH
fmw/GRTAGS
fmw/GSYMS
fmw/GTAGS
